form(action='http://localhost:3000/users/register', method='POST')
  input(type='text', name='name')
  input(type='email', name='email')
  input(type='password', name='password')
  button(type='submit') enviar